*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: #4A42F4;
    padding: 20px 0;
    color:white;
}
.wrap{
    width: 1270px;
    margin: 0 auto;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-link{
    margin-right: -10px;
    
}
.logo-l{
    margin-right: 105px;
}
.logo-li{
    margin-right: 150px;
}
.promo{
  background: white;  
}
.promo-wrap{
    background-image: url(../img/promo.svg);
    min-height: 491px;
    background-position-x: 628px;
    background-position-y: 60px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    
    
}
.promo-der{
    background-image: url(../img/singinigi.svg);
    min-height: 491px;
    background-position-x: 1070px;
    background-position-y: 90px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.promo-ref{
    background-image: url(../img/Rectangle.svg);
    min-height: 491px;
    margin-top:-435px ;
    background-position-x: 40px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.promo-h6{
    background-image: url(../img/B.svg);
    min-height: 491px;
    margin-top:-220px ;
    background-position-x: 80px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.promo-h5{
    background-image: url(../img/Google.svg);
    min-height: 491px;
    margin-top:-490px ;
    background-position-x: 300px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.promo-h4{
    background-image: url(../img/IBM.svg);
    min-height: 491px;
    margin-top:-490px ;
    background-position-x: 500px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.promo-h3{
    background-image: url(../img/Pentagram.svg);
    min-height: 491px;
    margin-top:-490px ;
    background-position-x: 700px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}  
.promo-h2{
    background-image: url(../img/RGA.svg);
    min-height: 491px;
    margin-top:-490px ;
    background-position-x: 900px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:flex-end; 
}  
.promo-h{
    background-image: url(../img/facebook.svg);
    min-height: 491px;
    margin-top:-450px ;
    background-position-x: 1100px;
    background-position-y: 10px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:flex-end; 
}              

.promo-title{
    margin: 0;
    position: absolute;
height: 248px;
left: 3%;
right: 7.14%;
top: 130px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 124px;
line-height: 124px;
}
.promo-ti{
    position: absolute;
height: 28px;
left: 3%;
right: 28.54%;
top: 530px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
color: #000000;
}
.promo-tit{
    position: absolute;
height: 56px;
left: 3%;
right: 12.5%;
top: 560px;

font-family: "Roboto";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 28px;
}
.promo-titl{
    position: absolute;
height: 28px;
left: 5%;
right: 17.9%;
top: 650px;

font-family: "Inter";
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
color:  #000000;
}
.promo-refi{
    position: absolute;
    height: 36px;
    left: 82%;
    right: 0;
    top: 675px;
    
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
color:#000000;
}
.promo-refile{
    position: absolute;
height: 24px;
left: 3%;
right: 0;
top: 800px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color:#000000;
}